<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Egloos Exodus</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/additional-methods.min.js"></script>
<script>
    $(document).ready(function(){
        $('#download').on('submit', function(e){
            e.preventDefault();
            if($('#blogBaseUrl').val().length == 0) {
                $('#blogBaseUrl').focus();
                alert('블로그 주소를 입력해주세요');
                return;
            } else if($('#email').val().length == 0) {
                $('#email').focus();
                alert('이메일 주소를 입력해주세요');
                return;
            }
            if(confirm('해당 블로그를 다운로드 하시겠습니까?')) {
                this.submit();
            }
        });

        $('#blogBaseUrl').focus();
    });
</script>
</head>
<body>
<h1>Egloos Exodus</h1>

<h2>안내</h2>
<ol>
    <li>이미 다른 블로그를 다운로드 작업 중이라면 기다리셔야 합니다.</li>
</ol>

<span th:if="${currentBlog != null}">
    <span th:if="${currentBlog.currentPost == null}">
        <a th:href="${currentBlog.blogBaseUrl}" th:text="'현재 ' + ${currentBlog.blogBaseUrl} + ' 을(를) 다운로드 중입니다.'">
        </a>
    </span>
    <span th:unless="${currentBlog.currentPost == null}">
        <a th:href="${currentBlog.currentPost.url}" th:text="'현재 ' + ${currentBlog.blogBaseUrl} + ' 의 ' + ${currentBlog.currentPostNumber} + '번째 글 ' + ${currentBlog.currentPost.title} +'(' + ${currentBlog.currentPost.date} + ') 을(를) 다운로드 중입니다.'">
        </a>
    </span>
</span>
<span th:unless="${currentBlog != null}">
    <hr/>
    <h2>블로그 정보 입력</h2>
    <form id="download" method="post" action="download">
        <ul><!--
            <li>
                <label for="blogName">블로그 명 : </label>
                <input type="text" id="blogName" name="blogName" placeholder="ex) 라이트노벨 레이블 노블엔진"/>
            </li>
            -->
            <li>
                <label for="blogBaseUrl">블로그 주소 : </label>
                <input type="text" id="blogBaseUrl" name="blogBaseUrl" placeholder="ex) http://netyhobby.egloos.com"/>
            </li>
            <li>
                <label for="email">이메일 : </label>
                <input type="text" id="email" name="email" placeholder="다운로드 완료알림을 받을 이메일"/>
            </li>
        </ul>
        <input type="submit" value="시작"/>
    </form>
</span>
</body>
</html>