<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Egloos Exodus</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
</head>
<body>
<h1>Egloos Exodus</h1>

<h2>안내</h2>
<ol>
    <li>이미 다른 블로그를 다운로드 작업 중이라면 기다리셔야 합니다.</li>
</ol>

<span th:if="${currentBlog != null}">
    <p th:text="'현재 ' + ${currentBlog.blogName} + '을(를) 다운로드 중입니다.'" />
</span>
<span th:unless="${currentBlog != null}">
    <hr/>
    <h2>블로그 정보 입력</h2>
    <form method="post" action="download">
        <ul>
            <li>
                <label for="blogName">블로그 명 : </label>
                <input type="text" id="blogName" name="blogName" placeholder="ex) 라이트노벨 레이블 노블엔진"/>
            </li>
            <li>
                <label for="blogBaseUrl">블로그 주소 : </label>
                <input type="text" id="blogBaseUrl" name="blogBaseUrl" placeholder="ex) netyhobby.egloos.com"/>
            </li>
        </ul>
        <input type="submit" value="다운로드"/>
    </form>
</span>
</body>
</html>